
/db/storage/data.db

venv/
.env/
.env.*
.env

__pycache__/
*.py[cod]
*$py.class


*.log


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db


.ipynb_checkpoints/


*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/